@model IEnumerable<Car_rental.Models.uzytkownicy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres_zamieszkania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_urodzenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Haslo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nr_prawa_jazdy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PESEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.Nazwa)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres_zamieszkania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_urodzenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Haslo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nr_prawa_jazdy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PESEL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Nazwa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id_uzytkownik }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id_uzytkownik }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id_uzytkownik })
            </td>
        </tr>
    }

</table>
