@model IEnumerable<Car_rental.Models.samochody>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rocznik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Silnik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_rejestracji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th>
            Nazwa
        </th>
        <th>
            Marka
        </th>
        <th>
            Model
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rocznik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Silnik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_rejestracji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kategorie.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marki.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modele.Nazwa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_samochod }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_samochod }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_samochod })
        </td>
    </tr>
}

</table>
