@model Car_rental.Models.uzytkownicy
@{
    if (Session["Login"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
@{
    ViewBag.Title = "Konto";
}

<div class="row">
    <div class="col-md-4">
        <h3>Panel Użytkownika</h3>
        <li>@Html.ActionLink("Moje wypożyczenia", "Index", "wypozyczenia")</li>
    </div>

    @{
        int temp = Convert.ToInt32(Session["Rola"]);
        if (Session["Login"] != null && temp >= 2)
        {
    <div class="col-md-4">
        <h3>Panel Pracownika</h3>
        <li>@Html.ActionLink("Kategorie samochodów", "Index", "kategorie")</li>
        <li>@Html.ActionLink("Marki", "Index", "marki")</li>
        <li>@Html.ActionLink("Modele", "Index", "modele")</li>
        <li>@Html.ActionLink("Samochody", "Index", "samochody")</li>
    </div>
        }
    }
    @{
        if (Session["Login"] != null && temp >= 3)
        {
    <div class="col-md-4">
        <h3>Panel Administratora</h3>
        <li>@Html.ActionLink("Uzytkownicy", "Index", "uzytkownicy")</li>

    </div>
        }
    }




</div>





<div class="navbar navbar-fixed-bottom">
    <div class="col-sm-4 col-sm-offset-4">
        @using (Html.BeginForm("Wyloguj", "Home", FormMethod.Post))
        {
            <div class="form-group text-center">
                <button type="submit" class="btn btn-success"><span class="fa fa-check fa-fw"></span>&nbsp;Wyloguj</button>
            </div>
        }
    </div>
</div>

